.container {
  width: 750px;
}

.og-grid {
  padding: 0;
}

.og-grid li {
  margin: 2px 0;
  height: 121px;
  width: 142px;
}

nav.top-nav a {
  padding: 0 1em;
}

/*
.thumbnail {
  height: 240px;
  width: 275px;
}
*/

.container > header {
  padding: 10px 30px 0px;
}

.og-expander {
  margin: 10px;
  background: #f6f0f080;
}

.og-expander h3 {
  font-size: 25px;
}

.og-expander a {
  display: none; /* Hiding the link for kiosk view  */
}

.og-expander-inner {
  padding: 10px;
}

.og-grid {
   padding: 12px 0;
 }

.og-details div.og-creator {
  font-weight: bold;
}

.og-details h3 {
  padding: 5px 0;
}

.og-details p {
  color: #c73b2b;
  margin: 1em 0;
}

.og-fullimg {
  width: 50%;
  /* height: unset; */
}

.og-details {
  width: 95%;
  /* float: left;
  height: inherit;
  overflow: visible; */
  position: relative;
}

.main > p {
  padding: 10px 20px !important;
}
